body{
    font-family: 'Times New Roman', Times, serif;
}

/* scrollbar */

::-webkit-scrollbar{
    width: 0;
}

html, #dropdownMenu{
    scrollbar-width: none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
  }
  
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
  }




/* remove blue underline from <a> */
a{
    color: initial;
}

a:hover{
    color: initial;
}




/* rectangle buttons */
.btn{
    border-radius: 0;    
}

.posts .btn{
    width: 6.5em;
}

/* grey paragraph */
.pGrey{
    color: #707070;
    margin-bottom: 0.15rem;
}




/* header navigation bar container */
.navbar{
    height: 10em;    
}

.navbarContainer{
    position: relative;
    top: -2em;
    width: 85%;
}




/* elements in the nav bar right side when desktop */
.rightSide{
    position: relative;
    top: -0.5em;
}


/* dropdown contains list of articles */
#dropdownMenu{
    cursor: pointer;
    list-style: none;
    overflow: scroll;
    padding: 0;    
}





/* the list of articles */
.dropdown-menu{
    top: 60% !important;
    left: 41.3% !important;
    margin-top: 0 !important;
    width: 18.4em !important;
    border-top: 1px solid #707070 !important;
    border-radius: 0; 
    background-color: black;
    height: 22.5em;    
}

.dropdown-item{
    color: white;
}

.dropdown-menu p{
    color: #707070;
    margin: 0;
}





/* search icon */
.fa-search{
    color: white;
    padding-top: 9%;
    font-size: 1em; 
}

input{
    color: white !important;
}

/* header social media */
.headerSocial a{
    position: relative;
    top: 20%;
}




/* header links */
.links{
    position: relative;
    top: 0.5em;    
}



/* underline effect when hoover links */
.nav-link{
    transition: color 0s;
    position: relative;    
}

.nav-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;    
    opacity: 0;
    width: 0%;
    height: 0.1em;
    background-color: white;
    transition: all 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after{
    opacity: 1;
    width: 100%;
}




/* section container of carousel, posts, pagination & sidebar */
.grid{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.carousel{
    top: -5.5em; 
    grid-column: 1/13;
}

.carouselControls{
    position: absolute;
    width: 7%;
    top: 32em;
    left: 92%;    
}

.carousel-item img{
    height: 30em;
    object-fit: cover;    
}

.phrase{
    grid-column: 2/9;
    position: relative;
    top: -7em;    
    margin-bottom: -4em;
    color: white;
    background-color: black;    
    font-size: 1.7em;    
    padding: 2em 1em;
    text-align: center;
}





/* grid positioning */


.posts{
    grid-column: 2/9;
 
}

.sidebar{
    grid-column: 9/12;
}

.sponsor{
    grid-column: 2/12;
}




/* post article */

.posts img{
    object-fit: cover;
}

.posts .card{    
    border: none;
    max-width: 40em;
}

.posts .card-body{    
    padding: 0 0 0 1em;
    height: 100%;
}

/* article modal */
.modal-header{
    height: 14em;
    background-image: url("/src/assets/images/posts/Post\ thumbnail-1.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-close{
    background: url("/src/assets/icons/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 3%;
    top: -43%;
    background-color: black;
}





/* side bar */

.sidebar .card-body .btn{
    position: relative;
    top: 0.7em;
}

.sidebar .card{
    border-radius: 0;
}

.sidebar .card-text{
    margin-bottom: 0;
}





/* for both posts articles & side bar */
.card-text{
    overflow: hidden;
    padding: 0;
    max-height: 6.3em;
    font-size: 0.8em;
}


/* pagination */
.posts nav{
    position: relative;    
    max-width: 40em;
    height: 7em;
}

.sponsor img{
    height: 6.4em;
    width: 6.4em;
}

footer{
    width: 85%;    
}

.instagram .col{
    width: auto;
    padding: 0.5em 0.5em;
}




/* footer & dropdown search articles border-bottom */
footer .border-bottom, .dropdown-menu .border-bottom {
    border-bottom: 1px solid #707070!important;
}




/* menu styles */


/* burger menu */

.menu-wrap{    
    height: 2em;
    position: relative;
    align-items: flex-start;    
    /* display: flex; */
}

.toggler{
    height: 2em;
    width: 2em;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.lineOne{
    position: absolute;    
    top: 0.3em;    
    height: 0.2em;
    width: 2em;
    background-color: white;
    transform: rotate(0deg);    
    transition: all 0.2s;
}

.lineTwo{
    position: absolute;    
    top: 1.3em;
    height: 0.2em;
    width: 2em;
    background-color: white;
    transform: rotate(0deg);    
    transition: all 0.2s;
}

.lineOneRotate{
    transform: rotate(45deg);
    transform-origin: left;
    top: 0.2em;
}

.linetwoRotate{
    transform: rotate(-45deg);
    transform-origin: left;
    top: 1.6em;
}




/* tablet */
@media screen and (max-width: 992px) {

    /* diferent grid position */
    .posts, .sidebar, .sponsor{
        grid-column: 2/13;
        margin: 0;
    }

    /* header navbar & footer */
    .navbarContainer, .logoAndSocial, .changeDirection {
        flex-direction: column;        
    }

    /* header navbar elements center */
    .baristaLogo, .rightSide, .rightSide *{
        margin: auto;        
    }

    .rightSide{
        top: 0;
    }
    
    .baristaLogo{
        padding-top: 1em;
    }
    .dropdown-menu {
        position: absolute;
        height: 20.5em;
        top: 78% !important;
    }

    .btn-close{
        left: 5%;
        top: -45%;
    }
    .slideSection{
        margin-bottom: 0;
    }
    .carousel {
        top: -3.5em;
    }
    .posts .row > *{
        width: auto !important;
    }
    .logoAndSocial{
        align-items: center;
        gap: 2em;
    }
  }

  /* mobile */
  @media screen and (max-width: 610px) {

    .grid{        
        width: 100%;
    }

    .navbarContainer{
        flex-direction: row;
        align-items: flex-start;
    }

    .baristaLogo{
        padding: 0;
    }

    .baristaLogo img{
        width: 90%;
    }

    .rightSide{
        top: 0;
        margin-top: 0;
    }

    form.border-bottom{
        border: 0!important;
    }    

    #searchInput, .headerSocial, .nav{
        display: none;
    }

    

    /* search icon effect */
    .searchIcon{
        transform: rotate(0);        
        font-size: 1.5em;
        cursor: pointer;
        transition: all 0.2s;
    }

    .searchIconRotate{
        transform: rotate(45deg);
    }

    .searchSpan{
        display: block;        
        padding: 0.25rem 1rem;        
        border: 0;
        padding-bottom: 2em;
    }    

    .hiddenElement{
        visibility: hidden;
    }

    .noScroll{
        overflow: hidden;
    }


    /* burger menu */
    .menu-wrap{
        display: flex !important;
    }

    .nav, .headerSocial{
        display: initial;        
    }

    .headerSocial{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 35vh;
        opacity: 0;
        transition: top 0.1s 0.3s, opacity 0s 0.3s;
    }

    .headerSocialShow{
        top: 25vh;
        opacity: 1;
    }

    .headerSocial a{        
        margin: 0;        
    }

    .links li{
        width: fit-content;
        margin: 0;
        padding: 3%;
    }

    .searchOffcanvas, .linkSocialContainer{
        visibility: hidden;
        position: fixed;
        top: 7em;
        right: 0;        
        width: 0vw;
        height: 100vh;
        z-index: 1;
        background-color: black;
        transition: all 0.3s;
    }

    .searchOffcanvasShow, .linkSocialContainerSow{
        visibility: visible;
        width: 100vw;
        height: 100vh;
    }    

    .modal-dialog{
        margin: 0;
        max-width: unset;
    }

    .modal-header{
        align-items: flex-start;
    }

    .btn-close{
        left: unset;
        right: 1%;
        top: 3%;
    }

    .carouselControls{        
        filter: invert(1);
        width: 100%;
        top: 45%;
        left: 0;                      
    }

    
    .phrase, .posts, .sidebar, .sponsor{
        
        grid-column: 2/12;
    }

    .posts .row > * {
        width: 100% !important;
    }

    .posts .card-body {     
        padding: 1em 0;        
    }

    .sidebar .card-body{
        padding: 1em 0;
    }

    .fadeOut{
        position: relative;
        top: 5em;
        opacity: 0;        
        transition: top 0.1s 0.3s, opacity 0s 0.3s;
    }

    .fadeIn{
        top: 0;
        opacity: 1;
    }
  }

  /* diable search icon when burger is active */
  .searchIconDisable {  
    pointer-events: none;  
  }


